body{
    background: #dedede;
    margin: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
hr{
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
}
a{
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.swiper-container {
    width: 600px;
    height: 300px;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 1s;
}
.TopNavBar{
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}
.TopNavBar.stick{
    background: white;
    z-index: 1;
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #3d4451;
}
.TopNavBar-in{
    padding: 0px 16px 0px 16px;
}
.TopNavBar nav{
    padding-bottom: 1px;
    padding-top: 2px;
}
.TopNavBar nav>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.TopNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.TopNavBar nav>ul>li>a{
    font-size: 12px;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.TopNavBar nav>ul>li.active>a::after,
.TopNavBar nav>ul>li.highlight>a::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #e06567;
    animation: slide 0.3s;
}
@keyframes slide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.TopNavBar .submenu{
    list-style: none;
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.TopNavBar li.active .submenu{
    display: block;
    animation: submenuslide 0.3s;
}
@keyframes submenuslide {
    0%{
        margin-right:100%;
    }
    100%{
        margin-right:0%;
    }
}
.TopNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 10px;
}
.TopNavBar .logo{
    font-size: 26px;
    font-family: Arial;
    padding-top: 2px;
    padding-bottom: 3px;
}
.TopNavBar .logo .rs{
    margin-right: 4px;
    color: #e06567;
}
.TopNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    height: 515px;
   background-image: url(../img/rs.jpg);
    background-position: center center;
    background-size: cover;
}    
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.usercard{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.usercard .picture img{
    width: 299px;
    height: 347px;
}
.usercard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 11px 4px 11px;
    line-height: 22px;
    position: relative;
}
.welcome .triangle{
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    display: block;
    position: absolute;
    left: 4px;
    top: 98%;
}
.usercard .PictureAndText{
    padding: 40px 50px 40px 50px;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 440px;
}
.usercard .text h1{
    margin-top: 28px;
}
.usercard .text h4{
    margin-top: 8px;
}
.usercard .text hr{
    margin: 15px 0px;
}
.usercard dl dd,
.usercard dl dt{
    float: left;
    padding: 5px 0px;
}
.usercard dl dt{
    width: 35%;
    font-weight: bold;
}
.usercard dl dd{
    width: 65%;
    color: gray;
}
.usercard .picture{
    float: left;
}
.usercard .media{
    background: #e6686a;
    text-align: center;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.usercard .media a{
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    width: 40px;
    padding: 5px 0px;
    margin: 16px;
}
.usercard .media a:hover{
    background: #cf5d5f;
}
main .download-resume-wrapper{
    text-align: center;
}
main .download-resume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0px;
    transition: box-shadow 0.2s;
}
main .download-resume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
main .self-introduction{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-family: kai;
    line-height: 39px;
}
.skills,
.portfolio{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skills h2,
.portfolio h2,
.message h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.skills ol{
    list-style: none;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 43px 50px 11px 50px; 
}
.skills ol>li{
    color: rgb(71, 69, 69);
    float: left;
    width: 47%;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 34px;
    box-sizing: border-box;
}
.skills ol>li:nth-child(even){
    float: right;
}
.skills ol>li .progress-bar{
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin-top: 5px;
    overflow: hidden;   
}
.skills ol>li .progress{
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1.5s;
}
.skills.offset ol>li .progress{
    transform: translateX(-100%);
}
.portfolio{
    text-align: center;
    margin-bottom: 100px;
}
.portfolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.portfolio nav ol{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}
.portfolio nav ol li{
    margin-left: 50px;
    float: left;
    cursor: pointer;
}
.portfolio nav ol li:nth-child(1){
    margin-left: 0px;
}
.portfolio nav .bar{
    margin-top: 10px;
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
}
.portfolio nav .bar-in{
    height: 100%;
    background-color: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}
.portfolio nav .bar.state-1 .bar-in{
    margin-left: 0px;
    width: 42px;
}
.portfolio nav .bar.state-2 .bar-in{
    margin-left: 80px;
    width: 50px;
}
.portfolio nav .bar.state-3 .bar-in{
    margin-left: 165px;
    width: 95px;
}
.portfolio .swiper-button-prev{
    width: 64px;
    height: 64px;
    right: 86%;
    left: auto;
    top: 62%;
    outline: none;
}
.portfolio .swiper-button-next{
    width: 64px;
    height: 64px;
    right: auto;
    left: 86%;
    top: 62%;
    outline: none;
}
.message{
    margin:0px auto 100px auto; 
    max-width: 500px;
}
.message #messageList{
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    list-style: none;
    max-width: 700px;
    margin: 0px auto;
}
.message #messageList > li {
    padding: 16px;
    border-bottom: 1px solid #e6686a;
}
.message #messageList > li:last-child{
    border-bottom: none;
}
.message #List{
    width: 700px; 
    margin: 30px auto;
}