body{
    background: #dedede;
    color: black;
    margin: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
hr{
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
}
a{
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.top-nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.top-nav-bar-in{
    padding: 0px 16px 0px 16px;
}
.top-nav-bar nav{
    padding-bottom: 1px;
    padding-top: 2px;
}
.top-nav-bar nav>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.top-nav-bar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.top-nav-bar nav>ul>li>a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.top-nav-bar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.top-nav-bar .logo{
    font-size: 26px;
    font-family: Arial;
    padding-top: 2px;
    padding-bottom: 3px;
}
.top-nav-bar .logo .rs{
    margin-right: 4px;
    color: #e06567;
}
.top-nav-bar .logo .card{
    color: #9a9da2;
}
.banner{
    height: 515px;
    background-image: url(./img/rs.jpg);
    background-position: center center;
    background-size: cover;
}    
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.usercard{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.usercard .picture img{
    width: 299px;
    height: 347px;
}
.usercard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 11px 4px 11px;
    line-height: 22px;
    position: relative;
}
.welcome .triangle{
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    display: block;
    position: absolute;
    left: 4px;
    top: 100%;
}
.usercard .PictureAndText{
    padding: 40px 50px 40px 50px;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 440px;
}
.usercard .text h1{
    margin-top: 28px;
}
.usercard .text h4{
    margin-top: 8px;
}
.usercard .text hr{
    margin: 15px 0px;
}
.usercard dl dd,
.usercard dl dt{
    float: left;
    padding: 5px 0px;
}
.usercard dl dt{
    width: 35%;
    font-weight: bold;
}
.usercard dl dd{
    width: 65%;
    color: gray;
}
.usercard .picture{
    float: left;
}
.usercard .media{
    background: #e6686a;
    text-align: center;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.usercard .media a{
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    width: 40px;
    padding: 5px 0px;
    margin: 16px;
}
.usercard .media a:hover{
    background: #cf5d5f;
}
main .download-resume-wrapper{
    text-align: center;
}
main .download-resume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0px;
    transition: box-shadow 0.2s;
}
main .download-resume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
main .self-introduction{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-family: kai;
    line-height: 39px;
}
.skills{
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skills h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.skills ol{
    list-style: none;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 43px 50px 11px 50px; 
}
.skills ol>li{
    color: rgb(71, 69, 69);
    float: left;
    width: 47%;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 34px;
    box-sizing: border-box;
}
.skills ol>li:nth-child(even){
    float: right;
}
.skills ol>li .progress-bar{
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin-top: 5px;
    
}
.skills ol>li .progress{
    height: 100%;
    background: #e6686a;
    width: 70%;
    border-radius: 2px;
}